<div class="app-counter-style-scope">
	<div class="app-counter-style-scope__wrapper">
		<div>
			<button ng-click="$ctrl.addRow()">Add row</button>
		</div>
		<div ng-repeat="row in $ctrl.rows track by $index">
			<select
				ng-model="row.operationType"
				ng-disabled="row.disabled"
				ng-change="$ctrl.reflowCounter()"
				ng-options="option for option in ::$ctrl.operationTypes">
			</select>
			<input type="number"
				   ng-disabled="row.disabled"
				   ng-model="row.value"
				   ng-change="$ctrl.reflowCounter()"/>
			<button ng-click="$ctrl.removeRow($index)">Delete</button>
			<button ng-click="$ctrl.disableRow($index)">{{ row.disabled ? 'Activate' : 'Disable' }}</button>
		</div>
		<div>Result: {{$ctrl.result}}</div>
	</div>

</div>
